<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687632219585-ueoj5u59es8dd1loo9a4b1tue5u56f64.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687632219585-ueoj5u59es8dd1loo9a4b1tue5u56f64</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>687632219585-51ic372v98qqjkooqt790ikjsd1slf4v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAPe0NDcApoEaluzUbJ5ZzK-EXODfgGbDA</string>
	<key>GCM_SENDER_ID</key>
	<string>687632219585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.onda-life.ios</string>
	<key>PROJECT_ID</key>
	<string>onda-life</string>
	<key>STORAGE_BUCKET</key>
	<string>onda-life.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687632219585:ios:2c258dfd7400953d890340</string>
</dict>
</plist>